<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/reportable.css" />
  </head>
  <body>
    <%- include ("../partials/sidemenu.ejs") %> <%-
    include('../partials/userbar.ejs'); %>

    <div class="table-container">
      <p>Log de reportes</p>
      <table class="table">
        <thead>
          <tr>
            <th>Id Incidencia</th>
            <th>Manager</th>
            <th>Casilla</th>
            <th>Armario</th>
            <th>Comentario</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <% reportLog.forEach((rl)=> { %>
          <tr>
            <td><%= rl.report.id %></td>
            <td>
              <% if (rl.user && rl.user.role === "ADMIN") { %>
              <span style="color: rgb(237, 198, 43)">
                <%= rl.user.name %>
              </span>
              <% } else { %>
              <span><%= rl.user ? rl.user.name : "Usuario desconocido" %></span>
              <% } %>
            </td>

            <td>
              <%= rl.report.box ? rl.report.box.description : 'Sin descripción'
              %>
            </td>
            <td>
              <%= rl.report.box && rl.report.box.locker ?
              rl.report.box.locker.description : 'Sin descripción' %>
            </td>
            <td><%= rl.comment || 'Sin comentario' %></td>
            <td>
              <% if (rl.report.isSolved) { %>
              <span style="color: green">Resuelto</span>
              <% } else { %>
              <span style="color: red">Pendiente</span>
              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <%- include ("create.ejs") %>
  </body>
</html>
