<%
  const roleTranslations = {
    ADMIN: "Admin",
    TEACHER: "Docente",
    MANAGER: "Manager"
  };
  const translatedRole = roleTranslations[notification.user.role] || notification.user.role;
%>

<div class="notification-card reminder">
  <div class="notification-content">
    <p class="notification-title">Recordatorio</p>
    <% if (notification.user) { %>
      <p><%= notification.user.name %> <%= notification.user.surname %> - <strong><%= translatedRole %> </strong> </p>
      <% } %>
    <p><%= notification.content %>: <%= notification.timeMessage %></p>
  </div>
</div>